

/* ESTILOS GENERALES */
:root{
    --primerColor: #028090;
    --segundoColor: #00a896;
    --tercerColor: #fcb045;
    --enlaceColor: #1c3835;
    --cuartoColor: #FFFFFF;
    --quintoColor: #ddd;
}
.degrad{
    background: rgba(2,128,144,1);
    background: -moz-linear-gradient(left, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,128,144,1)), color-stop(0%, rgba(2,128,144,1)), color-stop(0%, rgba(2,128,144,1)), color-stop(16%, rgba(2,128,144,1)), color-stop(45%, rgba(0,168,150,1)), color-stop(95%, rgba(252,176,69,1)), color-stop(100%, rgba(252,176,69,1)));
    background: -webkit-linear-gradient(left, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    background: -o-linear-gradient(left, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    background: linear-gradient(to right, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#028090', endColorstr='#fcb045', GradientType=1 );       
}

    .mySwitch .check::after {
        background: var(--primerColor)!important;
        border-color: var(--primerColor)!important;
    }
    .mySwitch input[type="checkbox"]:checked ~ .check {
        background: var(--primerColor)!important;
        border-color: var(--quintoColor)!important;
    }
    .mySwitch input[type="checkbox"]:checked ~ .check::after {
        border-color: #ffffff!important;
        background: #ffffff!important;
    }

a{
  color: var(--enlaceColor) !important;  
}
a:hover{
    color: var(--tercerColor) !important;  
}
body{
    font-family: 'Montserrat', sans-serif !important;
}
.color1{
    color: var(--enlaceColor) !important;  
}
.polPriv{
    margin: 0 !important;
    padding: 0 !important;
}
.footerClas{
   
    display: flex;
    justify-content: center;
}
.noSub{
    border: none;
}
.enmailTex{
    color: var(--cuartoColor);
    font-size: 1em;
}
.weiFontBold{
    font-weight: 600;
}
.imgTitulo{
    height: 50% !important;
}
.boGrad{
    height: 2px;
    width: 100%;
    background: rgba(2,128,144,1);
    background: -moz-linear-gradient(left, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,128,144,1)), color-stop(0%, rgba(2,128,144,1)), color-stop(0%, rgba(2,128,144,1)), color-stop(16%, rgba(2,128,144,1)), color-stop(45%, rgba(0,168,150,1)), color-stop(95%, rgba(252,176,69,1)), color-stop(100%, rgba(252,176,69,1)));
    background: -webkit-linear-gradient(left, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    background: -o-linear-gradient(left, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    background: linear-gradient(to right, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#028090', endColorstr='#fcb045', GradientType=1 );
            
}
.desatitu:hover{
    transform:scale(1.50);
    -webkit-transform:scale(1.50);
    -moz-transform:scale(1.50);
    -ms-transform:scale(1.50);
    -o-transform:scale(1.50);
}
.logo2img:hover{
    transform: rotate(50deg);
    filter: saturate(180%);
    -webkit-filter: saturate(180%);
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
}
.iconh>img:hover{
    filter: saturate(10%);
    -webkit-filter: saturate(10%);
}
.iconh2>img:hover{
    filter: saturate(10%);
    -webkit-filter: saturate(10%);
}
.fa-tags:hover{
    color: var(--tercerColor);
}
.leerMas{
    background-color: var(--enlaceColor);
    
}
/* barra animadas progres bars */
.progrBars{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.nombreBarras{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    font-size: 0.8em;
    
}
.barraT{
    display: flex;
    justify-content: center;
    align-items: center;
}

.letrasBa{
    width: 8em;
    text-align: end;
}
.barras {
    
    width:320px; 
    margin:10px auto;
  }
  .barra {
    width:300px; 
    height:30px; 
    background:#CCC; 
    margin:10px;
  }
  .barra-nivel {
    height:30px; 
    background:#444;
    width:1px;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    transition: width 1s ease;
  }
  .valor-nivel {
    line-height:30px; 
    color:#fff; 
    margin-left:10px; 
    font-family:"Montserrat"; 
    font-size:12px;
  }
  .habilidades{
      background-image: url("/images/fondoHabi2.png");
      background-repeat: no-repeat;
      background-size: 150%;
      background-position: center;
     
  }
/* FIN ESTILOS GENERALES */

.logoa{
    width: 20%;
    border: 1px solid var(--quintoColor);
    padding: 3px;
    border-radius: 50%;
}

.iconh>img{
    width: 80%;
    border: 1px solid var(--quintoColor);
    padding: 3px;
    border-radius: 50%;
}
.iconh2>img{
    width: 70%;
    border: 1px solid var(--quintoColor);
    padding: 3px;
    border-radius: 50%;
}
.listafoot{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.listafoot>li{
    margin-right: 2em;
}

.iconh3>i{
    font-size: 50px;
   
}
.commons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-tags{
    font-size: 10em;
    color: var(--segundoColor);
}
.alfinal{
    display: flex;
    justify-content: flex-end;
}
.derecha1{
    text-align: right;
}

/* ---------------RESPONSIVE----------------- */
@media (min-width: 0px) and (max-width: 431px){ 
    .colsums{
        flex-direction: column;
        
    }
    .color1{
        flex-direction: column;
    }
    .derecha1{
        text-align: center !important;
    }
    .polPriv{
        text-align: center;
    }
    .commons{
        margin: auto;
        text-align: center;
    }
    .contacTo{
        text-align: center;
        margin-top: 3em;
    }
    .iconh>img{
        width: 50%;
    }
    .iconh3>i{
        font-size: 30px;
    
    }
    .iconh2>img{
        width: 20%;
        
    }
    .listafoot>li{
        margin: auto;
        text-align: center;
    }
    .habilidades{
        
        background-size: 250%;
        background-position: center;
       
    }
    .desatitu:hover{
        transform:scale(1.00);
        -webkit-transform:scale(1.00);
        -moz-transform:scale(1.00);
        -ms-transform:scale(1.00);
        -o-transform:scale(1.00);
    }
    

}
/* --------------- FIN RESPONSIVE----------------- */









