/* 
    color: #028090;
    color: #00a896;
    color: #fcb045;
    #1c3835   */

/* ESTILOS GENERALES */
a{
  color: #1c3835 !important;  
}
a:hover{
    color: #fcb045 !important;  
}
body{
    font-family: 'Montserrat', sans-serif !important;
}
.color1{
    color: #1c3835 !important;  
}
.polPriv{
    margin: 0 !important;
    padding: 0 !important;
}
.footerClas{
   
    display: flex;
    justify-content: center;
}
.noSub{
    border: none;
}
.enmailTex{
    color: #FFFFFF;
    font-size: 1em;
}
.weiFontBold{
    font-weight: 600;
}
.imgTitulo{
    height: 50% !important;
}
.boGrad{
    height: 2px;
    width: 100%;
    background: rgba(2,128,144,1);
    background: -moz-linear-gradient(left, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,128,144,1)), color-stop(0%, rgba(2,128,144,1)), color-stop(0%, rgba(2,128,144,1)), color-stop(16%, rgba(2,128,144,1)), color-stop(45%, rgba(0,168,150,1)), color-stop(95%, rgba(252,176,69,1)), color-stop(100%, rgba(252,176,69,1)));
    background: -webkit-linear-gradient(left, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    background: -o-linear-gradient(left, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    background: linear-gradient(to right, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 0%, rgba(2,128,144,1) 16%, rgba(0,168,150,1) 45%, rgba(252,176,69,1) 95%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#028090', endColorstr='#fcb045', GradientType=1 );
            
}

/* FIN ESTILOS GENERALES */

.logoa{
    width: 20%;
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 50%;
}

.iconh>img{
    width: 80%;
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 50%;
}
.iconh2>img{
    width: 70%;
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 50%;
}
.listafoot{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.listafoot>li{
    margin-right: 2em;
}

.iconh3>i{
    font-size: 50px;
   
}
.commons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-tags{
    font-size: 10em;
    color: #429C95;
}
.alfinal{
    display: flex;
    justify-content: flex-end;
}

/* pagina del currículum */






